.movie__list {
  padding: 0 3rem 3rem 3rem;
}

.list__cards {
  font-size: 1.75rem;
  margin: 2.5rem;
}

h2.list__title {
  margin-left: 7rem;
  color: white;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* .controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls input,
.controls select {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
