.header {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: right;
}

.wishlist {
}
a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  transition: color 1s;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.icon {
  margin-left: 5px;
}

.popular:hover {
  color: #ffd43b;
  font-size: 1.2rem;
}

.topRated:hover {
  color: #4169e1;
  font-size: 1.2rem;
}

.upcoming:hover {
  color: #ffa500;
  font-size: 1.2rem;
}

.wishlist:hover {
  color: #008000;
  font-size: 1.2rem;
}

.badge {
  position: absolute;
  top: 5px;
  right: 26px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 0px 6px;
  font-size: 12px;
  opacity: 1;
}
